@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --zindex-bg: -100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* Useful when using normal HTML tags (no material ui components) */
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}
